/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font-family: sans-serif;
	font-size: 16px;
	background: #f0f0f0;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

p {
	margin-bottom: 24px;
}

.pointer {
	cursor: pointer;
}



@keyframes pulse {
	0% { transform: translateY(0); }
	20% { transform: translateY(-1em); }
	40% { transform: translateY(0); }
	60% { transform: translateY(-0.2em); }
	80% { transform: translateY(0); }
}



.loading-and-fallback {
	margin: 3em auto;
	width: 50%;
	min-width: 18em;
	padding: 2em;
	border: 1px solid #ccc;
	border-radius: 25px;
	background: #fee;
}

.loading-message {
	display: none;
}

.has-js .loading-and-fallback {
	background: #ffe;
}

.impress-really-not-supported .loading-and-fallback {
	background: #fee;
}

.has-js .loading-message {
	display: block;
	animation: pulse 1s ease infinite;
}

.impress-really-not-supported .loading-message {
	display: none;
}

@media (prefers-reduced-motion) {
	.has-js .loading-message {
		animation: none;
	}
}

.impress-enabled .loading-and-fallback {
	display: none;
}

.impress-not-supported #impress, .impress-really-not-supported #impress {
	display: none;
}

.browser-not-supported {
	display: none;
}

.impress-really-not-supported .browser-not-supported {
	display: block;
}

#start button {
	display: none;
	font-size: 80%;
	background: rgba(200, 200, 200, 0.5);
	color: #000;
	border-radius: 0.1em;
	border: none;
	padding: 0.1em 0.5em;
	cursor: pointer;
	transition: 0.5s color, 0.2s background;
	position: absolute;
	bottom: 1em;
	right: 0.5em;
}
#start button:hover {
	color: #ddd;
}
#start button:active {
	background: rgba(50, 50, 50, 0.8);
}
.no-nav #start button {
	display: inherit;
}



.impress-enabled .step {
	width: 1920px;
	height: 1080px;
	font-size: 12em;
	line-height: 2.2em;
}

.hitboxes.impress-enabled .step {
	background: rgba(200, 200, 200, 0.3);
}



.impress-enabled .video-js {
	width: 100%;
	height: 100%;
}



.clip-circle, .clip-circle video {
	transition: clip-path 1s;
}

.present .clip-circle, .present .clip-circle video {
	clip-path: circle(960px) !important;
}

.step.is-video.active {
	z-index: 1;
}



#bg {
	background-image: url("background.jpg");
	background-size: cover;
}
